html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(62, 62, 62);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-brand {
  background: linear-gradient(to right, #f5ce62, #ff00ee, #fa7199, #ffc108);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 1.5rem;
}

#intro {
  background: linear-gradient(83.21deg, #fdf10c 20%, #b71ffd 100%);
  background-blend-mode: overlay;
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 70%);
  mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 70%);
  height: 93vh;
}

.gradient-text {
  font-size: 6vh;
  background-color: #f9398c;
  background-image: linear-gradient(45deg, #ff00fb, #fff200);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/* Intro Section */

.intro {
  display: block;
  position: relative;
  color: #fff;
  text-align: center;
  top: -60vh;
}

.intro span {
  color: #ffc108;
}

/* About me Section */

.sobre_mi {
  margin: 10%;
  color: white;
  font-size: large;
  padding: 15px;
  position: relative;
  display: block;
  width: 40%;
  border: 2px solid #f9398c;
  border-radius: 15px;
  font-size: 16px;
}

#sobre_mi {
  display: flex;
}

#sobre_mi img {
  width: 70%;
  position: relative;
  top: 15%;
  height: 70%;
  overflow: hidden;
  border-radius: 50%;
}

.btn-hover {
  position: relative;
  left: 34%;
  width: 30%;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 10px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover.boton {
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #ff00ee,
    #fa7199,
    #ffc108
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

@media (max-width: 1000px) {
  #sobre_mi {
    display: table-cell;
    vertical-align: middle;
  }
  .sobre_mi {
    width: 80%;
  }

  #sobre_mi img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-hover {
    font-size: 12px;
  }
}

/* Skills Section */
.habilidades {
  margin-top: 5%;
  margin-bottom: 10%;
}
.habilidades h1 {
  color: white;
  text-align: center;
}

.card {
  transform: translateZ(20px);
  transform-style: preserve-3d;
  position: relative;
  padding: 1%;
  width: 15%;
  margin-inline: 1%;
  margin-top: 1%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  place-items: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background: transparent;
  transition: all 0.1s ease;
  border: 2px solid #f9398c;
}

.img {
  position: relative;
  width: 90%;
  transition: all 0.5s ease;
}
.title,
.card p {
  width: 100%;
  color: rgb(220, 220, 220);
  text-align: center;
}
.row {
  width: 100%;
  display: flex;
  position: relative;
  left: 1%;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .row {
    flex-direction: column;
  }
  .card {
    margin-top: 2%;
    width: 50%;
  }
  .title{
    font-size: 2rem;
  }
}

/* Proyectos section */

.proyectos {
  margin-top: 5%;
  margin-bottom: 10%;
}
.proyectos h1 {
  text-align: center;
  line-height: normal;
}
.row-proyectos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-proyectos {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #1d1d1d;
  color: white;
  width: 40%;
  margin-inline: 5%;
}
.card-proyectos img {
  width: 100%;
}
.tools {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #f9398c;
  justify-content: center;
}

.tool {
  border-radius: 20%;
  padding: 0.6rem;
  text-align: center;
  background-color: rgb(66, 66, 66);
  transition: background-color 0.3s ease-in;
  margin: 2%;
}
.tool span {
  opacity: 0.8;
}

.card-content {
  text-align: center;
}
.card-header {
  text-align: center;
}

.btn-hover.proyecto {
  left: 15%;
  justify-items: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .row-proyectos {
    flex-direction: column;
  }
  .card-proyectos {
    width: 100%;
    margin-top: 5%;
  }
}

/* Contact Section */
.contacto {
  margin-top: 5%;
  margin-bottom: 10%;
  justify-content: center;
}

#contact_form {
  margin-inline: 10%;
  position: relative;
  float: right;
}
.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #f9398c;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #cc4949;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #f9398c;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #f9398c;
}
.contacto {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2rem;
  color: white;
}

.contacto section {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.contacto #icon {
  font-size: 2rem;
  color: rgb(62, 62, 62);
  background: linear-gradient(to right, #f5ce62, #ff00ee, #fa7199, #ffc108);
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

@media (max-width: 1000px) {
  .contacto{
    grid-template-columns: auto;
    grid-gap: 1rem;
    justify-items: center;
  }
  #icons h3{
    font-size: 1rem;
    
  }
  .contacto #icon{
    width: 50px;
    height: 50px;
    font-size: 1rem;
  }
}

/* Footer Section */
.margin-top {
  padding: 20px 0;
  background: #181818;
  position: absolute;
  width: 100%;
}

.inner-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.left {
  background: linear-gradient(to right, #f5ce62, #ff00ee, #fa7199, #ffc108);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.copyright h3 {
  color: rgba(255, 255, 255);
  opacity: 0.5;
  font-weight: 500;
  font-size: 1rem;
}

.right {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.right a {
  --svgRadius: 30px;
  display: flex;
  float: inline-end;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(62, 62, 62);
  background: linear-gradient(to right, #f5ce62, #ff00ee, #fa7199, #ffc108);
  background-size: 300%;
  background-position: left;
  transition: all 0.3s ease-in;
  height: var(--svgRadius);
  width: var(--svgRadius);
  border-radius: 50%;
  background-position: right;
  margin: 0 6px;
}


/* Curriculum Section */

#curriculum{
  overflow: hidden;
}
.btnContainer{
  margin-top: 2%;
  margin-bottom: 1%;
}
.btnContainer a{
  color: #FFF;
}

.btnContainer button{
  position: relative;
  width: auto;
  left: 0%;
}
.btnContainer .volver {
  background: transparent;
  border: 1px solid #ff00ee;
}
#resume img{
  width: 100%;
}

.ScrollToTop {
  position: fixed;
  display: flex;
  bottom: 20px;
  right: 20px;
  background: transparent;
}

.ScrollToTop button{
  background: transparent;
  border-radius: 50%;
  border: 1px solid rgb(255, 0, 238, 0.5);
  box-shadow: 0 4px 15px 0 rgba(192, 0, 176, 0.3);
}

.ScrollToTop img{
  padding: 10%;
  height: 40px;
}